*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
      
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    background-color: orangered;
    height: 2px;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.text-box h1{
    font-size: 4rem;
}
.text-box p{
    margin: 40px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}
.hero-btn{
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;   
    transition: 1s ease-in-out; 
}
.hero-btn:hover{
    background-color: orangered;
    border: 2px solid orangered;
}

nav .fa-solid{
    display: none;
}

@media (max-width:700px){
    .text-box h1{
        font-size: 25px;
    }
    .nav-links ul li{
        display: block;
        padding: 15px 40px;
    }
    .nav-links{
        position: absolute;
        width: 200px;
        height: 100vh;
        background-color: orangered;
        text-align: left;
        top: 0;
        right: -230px;
        padding: 15px 10px;
        z-index: 2;
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color: white;
        font-size: 22px;
        margin: 10px;
    }
    .header{
        min-height: 100vh;
        width: 100%;
    }
}

/* courses section */

.course{
    width: 70%;
    height: 100vh;
    margin: auto;
    padding: 100px;
    text-align: center;
    position: relative;
}
.course h1{
    font-size: 36px;
}
.course p{
    line-height: 22px;
    padding: 10px;
    font-weight: 300;
    color: #777777;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.course-col{
    background-color: #fff3f3;
    flex-basis: 29%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: 0.5s;
}
.course-col h3{
    font-size: 22px;
    margin: 10px 0px;
}
.course-col p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
}
.course-col:hover{
    box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}
@media (max-width:700px){
    .row{
        flex-direction: column;
    }
}

/* campus  */

.campus{
    height: 100vh;
    width: 75%;
    text-align: center;
    margin: auto;
    position: relative;
}
.campus h1{
    font-size: 36px;
}
.campus p{
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
    font-weight: 400;
    color: #777777;   
}
.campus-img{
    border-radius: 10px;    
    flex-basis: 31%;
    height: 500px;
    box-sizing: border-box;
    overflow: hidden;
}
#campus-img1{
    background-image: url("/images/london.png");
    background-size: cover;
}
#campus-img2{
    background-image: url("/images/newyork.png");
    background-size: cover;
}
#campus-img3{
    background-image: url("/images/washington.png");
    background-size: cover;
}
.img-overlay{
    border-radius: 10px;    
    flex-basis: 31%;
    height: 500px;
    background-color:rgba(255, 42, 0, 0.34);
    /* display: none; */
    position: relative;
    top: 100%;
    transition: 0.3s ease-in-out;
}
.campus-img:hover{
    .img-overlay{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        top: 0%;
    }
    
}
.facilities{
    height: 125vh;
    width: 75%;
    text-align: center;
    margin: auto;
    position: relative;
}
.facilities h1{
    font-size: 36px;
    margin: 10px 0px;
}
.facilities p{
    font-size: 15px;
    line-height: 22px;
    word-spacing: 2px;
    padding: 10px;
    font-weight: 400;
    color: #777777;  
}
.facility-img{
    border-radius: 10px;
    flex-basis: 31%;
    height: 300px;
}
#facility1{
    background-image: url(images/library.png);
    background-size: cover;
}
#facility2{
    background-image: url(images/basketball.png);
    background-size: cover;
}
#facility3{
    background-image: url(images/cafeteria.png);
    background-size: cover;
}
.facility-descrip{
    text-align: left;
    flex-basis: 31%;
    position: relative;
}
.facility-descrip p{
    padding: 10px 0px;
    line-height: 1.7;
    font-size: 14.5px;
    margin: 10px 0px;
}
.review{
    height: 80vh;
    width: 75%;
    text-align: center;
    margin: auto;
    position: relative;
}
.review h1{
    font-size: 36px;   
    margin: 5px 0;
}
.review p{
    word-spacing: 1.5px;
    font-size: 15px;
    line-height: 22px;
    padding: 15px 0px;
    font-weight: 400;
    color: #777777; 
}
.comment-section{
    flex-basis: 48%;
    height: 250px;
    border-radius: 10px;
    background-color: bisque;
    display: flex;
    padding: 20px 10px;
    box-sizing: border-box;
}
.commenter-icon{
    width: 22%;
    height: 100%;
    display: inline-block;
}
.commenter-icon img{
    margin: 20px 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.comment{
    display: inline-block;
    width:75% ;
    text-align: left;

}
.contact{
    height: 80vh;
}
.contact-us{
    width: 100%;
    height: 500px;
    border-radius: 10px;
    background-color: black;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)) ,url(images/hero.jpg);
    background-size: contain;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-us h1{
    margin: 25px;
    font-size: 2.5rem;
}
.contact-us a{
    text-decoration: none;
    color: #fff;
    border: 2px solid white;
    font-size: 13px;
    display: inline-block;
    padding: 12px 34px;
    background: transparent;
    position: relative;   
    transition: 1s ease-in-out;
}
.contact-us a:hover{
    background-color: skyblue;
    border: 2px solid skyblue;
}
footer{
    height: 20vh;
    width: 90%;
    margin: auto;
    color: black;
    text-align: center;
}
footer h2{
    margin: 20px;
}
footer p{
    color: #777777;
    font-weight: 400;
    padding: 20px;
    font-size: 15px;
}
footer b{
    color: blueviolet;
}

/* Responsive styles */
@media (max-width: 700px) {
    .text-box h1 {
        font-size: 25px;
    }

    .nav-links ul li {
        display: block;
        padding: 15px 40px;
    }

    .nav-links {
        position: absolute;
        width: 200px;
        height: 100vh;
        background-color: orangered;
        text-align: left;
        top: 0;
        right: -230px;
        padding: 15px 10px;
        z-index: 2;
        transition: 1s;
    }

    nav .fa-solid {
        display: block;
        color: white;
        font-size: 22px;
        margin: 10px;
    }

    .header {
        min-height: 100vh;
        width: 100%;
    }

    .course {
        width: 90%;
        padding: 20px;
    }

    .row {
        flex-direction: column;
    }

    .campus {
        width: 90%;
    }

    .campus-img {
        margin-bottom: 20px;
    }

    .facilities {
        width: 90%;
    }

    .facility-img {
        margin-bottom: 20px;
    }

    .review {
        width: 90%;
    }

    .comment-section {
        margin-bottom: 20px;
    }
}
