*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 18, 34, 0.867);
}
#left, #right{
    width: 300px;
    min-height: 380px;
    margin: 30px;
    border: 2px dotted pink;
}
.list{
    background-color: orangered;
    margin: 25px;
    color: white;
    display: flex;
    align-items: center;
    height: 60px;
    cursor: grab;
    
}
.list img{
    width: 20px;
    margin-right: 30px;
    margin-left: 20px;
}
@media (max-width:700px){
    .container{
        flex-direction: column;
    }
    #left, #right{
        width: 270px;
    }
}